<div class="areaprod-grid" style="margin-top: 1rem;">
    @for (producto of productos; track producto.codigo) {
    <div class="areaprod-container">
        <div class="areaprod-item">
            @if (producto.precio) {
            <div class="areaprod-price">L. {{ producto.precio }}</div>
            }
            <div class="areaprod-card">
                <div class="areaprod-image">
                    <img [src]="producto.imagen || 'hogarisW.jpeg'" [alt]="'imagen'">
                </div>
                <div class="areaprod-name">{{ producto.descripcion }}</div>
            </div>
        </div>
        <div class="areaprod-footer">
            <div class="areaprod-codetittle">Código Producto:</div>
            <div class="areaprod-code">{{producto.codigo}}</div>
        </div>
    </div>
    }
</div>