<app-home></app-home>
<!-- PÁGINAS DE DEPARTAMENTOS (DINÁMICAS Y PAGINADAS) -->
@for (page of paginatedDepartments; track $index) {
<div class="page landscape-page department-page" style="padding: 1rem; backdrop-filter: brightness(0.7); "
    [style.backgroundImage]="'url(' + page.departamentoIMG + ')'">

    <div class="dept-header">
        <div class="dept-title">{{ page.name }}</div>
    </div>
    <div class="areas-grid">
        @for (area of page.areas; track area.name + $index) {
        <div class="area-item">
            <div class="area-card">
                <div class="area-image">
                    <img [src]="area.image" [alt]="area.name">
                </div>
                <div class="area-name">{{ area.name }}</div>
            </div>
        </div>
        }
    </div>
</div>
}